#barra {
    position: sticky !important;
    top: 0% !important;
    z-index: 10 !important;
}

#barra ul {
    margin-right: 10%;
}

#carrousel {
    z-index: 9;
}


#logo_codo {
    width: 30%;
}

.texto {
    color: white;
}

.opaco-frente {
    z-index: 9;
    background-size: contain !important;
    opacity: 1;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    height: 100% !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.opaco {
    background-size: contain !important;
    background-color: black;
    opacity: 0.3;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    height: 100% !important;
}

.referencia{
    color: white !important;
    margin-right: 10%;
    opacity: 1 !important;
    text-align: end;
    width: 40%;
}

.referencia p{
    
}

.separador {
    margin-right: 3% !important;
}

#ticket {
    color: green !important;
}

#ticket:hover {
    color: rgb(214, 231, 30) !important;
}

.nav-link {
    color: aliceblue !important;
}

.nav-link:hover {
    color: gray !important;
}
