#barra {
    position: sticky !important;
    top: 0% !important;
    z-index: 10 !important;
}

#carrousel {
    z-index: 10;
}


#logo_codo {
    width: 30%;
}

.opaco {
    background-size: contain !important;
    background-color: black;
    opacity: 1;
}

.separador {
    margin-right: 3% !important;
}

#ticket {
    color: green !important;
}

#ticket:hover {
    color: rgb(214, 231, 30) !important;
}

.nav-link {
    color: aliceblue !important;
}

.nav-link:hover {
    color: gray !important;
}
